
  /* Sidebar.css */

.navigation {
    background-color: #3498db; /* Set the background color of the navbar */
    padding-top: 5px; /* Add some padding to the top */
    padding-bottom: 5px;
  }
  
  .navbar {
    border: none; /* Remove the border from the navbar */
  }
  
  .navbar-default .navbar-nav > li > a {
    color: #fff; /* Set the text color */
  }
  
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    background-color: #2980b9; /* Set the background color on hover or focus */
  }
  
  ion-icon {
    font-size: 30px; /* Adjust the icon size */
    margin-right: 5px; /* Add some space to the right of the icon */
  }
  
  .navbar li {
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: inline;
  }